

{% for message in messages[1] %}
    <div class="panel panel-default">
      <div class="panel-body">
        {{ message.text }}
      </div>
      <div class="panel-footer">{{ message.date|date('H:i:s    m-d') }}</div>
    </div>

{% endfor %}

<div class="col-md-12">
  {{ form_start(form) }}

    {{ form_label(form.text, 'Respond:', {'label_attr': {'class': ''} }) }}
    {{ form_widget(form.text, {'attr': {'class': 'form-control', 'rows':'6'} }) }}
    <br><br>
    <div class="col-md-12 form-group">
        <button type="submit" class="btn btn-group-justified">Send</button>
    </div>

    {{ form_rest(form) }}

  {{ form_end(form) }}
</div>
