{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="header-page col-md-12">
                <h1 class="pull-left">{{ category.name|capitalize }}</h1>
                <a href="{{ path('category_index') }}" class="btn btn-primary pull-right" role="button">Back to categories list</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-primary pull-right" role="button">Edit</a>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger pull-right" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% include 'product/content.html.twig' %}
        </div>
        </div>
    </div>
{% endblock %}
