<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Brafin{% endblock %}</title>
        
        
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/style.css' filter="cssrewrite" %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}            
            {% block menu %}
                {% include 'default/menu.html.twig' %}
            {% endblock %}            
        {% endblock %}
        
        {% block javascripts %}                   
            {% javascripts '@jquery' '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/script.js' filter="cssrewrite" %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
