{% if products|length > 0 %}
    {% for product in products %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading arrow_box text-center">
                <a href="{{ path('product_show', { 'id': product.id }) }}"><h4>{{ product.name }}</h4></a>
            </div>

            <div class="panel-body-products panel-body text-center">
                <ul class="list-group list-group-flush text-center">
                    {% if product.images|length > 0 %}
                        <a href="{{ path('product_show', { 'id': product.id }) }}"><img src="{{ asset('uploads/' ~ product.images[0].path) }}" height="100" width="130"></a>
                    {% endif %}
                    <li class="list-group-item">Owner: {{ product.user }}</li>
                    {% if product.categories|length > 0 %}
                        <li class="list-group-item">
                            {% for category in product.categories %}
                                <a href="{{ path('category_show', {'id' : category.id}) }}" class="product-category">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </li>
                    {% endif %}
                    <li class="list-group-item">Available: {% if product.available %}<span <span style="color: green;"><b>Yes</b></span>{% else %}<span <span style="color: red;"><b>No</b></btn>{% endif %}</li>
                </ul>
            </div>

            <div class="panel-footer text-center">
                <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">Check it</a>
            </div>
        </div>
    </div>

    {% endfor %}
{% else %}
    <h3 class="no-products text-center">No products found</h3>
{% endif %}
