{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="header-page col-md-12">
            <h1 class="pull-left">Welcome to brafin</h1>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('user_new') }}" class="btn btn-primary pull-right" role="button">Register now!</a>
            {% endif %}
        </div>
    </div>
    <p>This is a website based on trades. To show your interest on a product, you must first register one of your own to earn credits.
            With credits, you will have the chance to get products. When you show interest, we will put you in touch with the owner through your messages, so you can proceed with negociations.<br>Good trades! :)</p><br><br>

    <div class="row">
        <div class="homepage-sidebar-content">
            <div class="sidebar col-md-12">
                <ul class="nav nav-sidebar">
                    <h4>Find what you need!</h4>
                    <li><br /></li>
                    <li><strong>Categories</strong></li>
                    <li><br /></li>
                    <li><a data-value="" class="category-list" href="{{ path('homepage') }}">All categories</a></li>
                    {% for category in categories %}
                        <li><a  data-value="{{ category.id }}" class="category-list" href="{{ path('homepage') }}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li><br /></li>
                    <li><br /></li>
                    <li><br /></li>
                    <div class="input-group text-center" >
                        <input name="search" data-href="{{ path('homepage') }}" id="search-sidebar" type="text" class="form-control" placeholder="Search for..." />
                    </div>

                    <li><br /></li>
                </ul>
            </div>
        </div>

        <div class="homepage-products-content">
            {% include 'default/content.html.twig' %}
        </div>
    </div>
</div>

{% endblock %}
