{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container">
    <div class="row">
        <div class="header-page col-md-12">
            <h1 class="pull-left">Welcome to brafin</h1>
            <a href="{{ path('user_new') }}" class="btn btn-primary pull-right" role="button">Register now!</a>
        </div>
    </div>
      
    <div class="row">  
        <div class="homepage-sidebar-content">
            <div class="sidebar col-md-12">
                <ul class="nav nav-sidebar" style="padding-left: 15px;" >
                    <h4>Do a better search</h4>
                    <li><br /></li>
                    <li><strong>Categories</strong></li>
                    <li><br /></li>
                    {% for category in categories %}
                        <li><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                    <li><br /></li>
                    <li><br /></li>
                    <li><a href="#"><strong>Mostly recent added</strong></a></li>
                    <li><br /></li>

                    <div class="input-group text-center" >
                      <input type="text" class="form-control" placeholder="Search for...">
                    </div><!-- /input-group -->

                    <li><br /></li>
                </ul>
            </div>
        </div>
                    
        <div class="homepage-products-content">
        {% for product in products %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading arrow_box text-center">
                    <a href="{{ path('product_show', { 'id': product.id }) }}"><h4>{{ product.name }}</h4></a>
                </div>

                <div class="panel-body-products panel-body text-center">                    
                    <ul class="list-group list-group-flush text-center">
                        {% if product.images|length > 0 %}
                            <a href="{{ path('product_show', { 'id': product.id }) }}"><img src="{{ asset('uploads/' ~ product.images[0].path) }}" height="100" width="130"></a>                            
                        {% endif %}
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Owner: {{ product.user }}</li>
                        {% if product.categories|length > 0 %}
                            <li class="list-group-item">
                                {% for category in product.categories %}
                                    <span class="product-category">
                                        {{ category.name }}
                                    </span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        <li class="list-group-item"><i class=""></i> Available: {% if product.available %}Yes{% else %}No{% endif %}</li>
                    </ul>
                </div>

                <div class="panel-footer text-center">
                    <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">Check it</a>
                </div>
            </div>
        </div>

        {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}