{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-page col-md-12">
                <h1 class="pull-left">Edit product</h1>
                <a href="{{ path('product_index') }}" class="btn btn-primary pull-right" role="button">Back to products list</a>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger pull-right" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(image_form, {'action' : path('image_product_new', { 'product-id': product.id })} ) }}
                {{ form_widget(image_form) }}

                <div class="form-group">
                    <button type="submit" class="product-image-button btn btn-primary">Add Image</button>
                </div>
                {{ form_end(image_form) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 product-images-wraper">
                {% for image in product.images %}
                    <div class="col-md-3 panel">
                        <img src="{{ asset('uploads/' ~ image.path) }}" height="160" width="210" >
                        <a class="product-remove-image" href="{{ path('product_delete_image', {'id' : product.id, 'image-id' : image.id }) }}">Delete Image</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{ form_start(edit_form, { 'attr': { 'class': '' } }) }}

                <div class="col-md-5 form-group">
                    {{ form_label(edit_form.name, 'Product Name', {'label_attr': {'class': ''} }) }}
                    {{ form_errors(edit_form.name) }}
                    {{ form_widget(edit_form.name, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_label(edit_form.description, 'Description', {'label_attr': {'class': ''} }) }}
                    {{ form_errors(edit_form.description) }}
                    {{ form_widget(edit_form.description, {'attr': {'class': 'form-control', 'rows':'10'} }) }}
                </div>
                <div class="col-md-8 form-group categories-product">
                    <label><strong>Categories  </strong></label><br />
                        {% for category in edit_form.categories %}
                                {{ form_label(category) }}
                                {{ form_errors(category) }}
                                {{ form_widget(category, {'attr': {'class': 'categories-product-checkbox'} }) }}
                        {% endfor %}
                </div>

                {{ form_row(edit_form._token) }}
                {{ form_row(edit_form.available) }}

                <div class="col-md-12 form-group">
                    <button type="submit" class="btn btn-primary">Update product</button>
                </div>

            {{ form_end(edit_form, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}
