{#{% form_theme form 'bootstrap_3_layout.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-page col-md-12">
                <h1 class="pull-left">New product</h1>
                <a href="{{ path('product_index') }}" class="btn btn-primary pull-right" role="button">Back to products list</a>                
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            {{ form_start(form, { 'attr': { 'class': '' } }) }}
            
                <div class="col-md-5 form-group">
                    {{ form_label(form.name, 'Product Name', {'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows':'10'} }) }}
                </div>
                <div class="col-md-8 form-group categories-product">
                    <label><strong>Categories  </strong></label><br />
                        {% for category in form.categories %}
                                {{ form_label(category) }}
                                {{ form_errors(category) }}
                                {{ form_widget(category, {'attr': {'class': 'categories-product-checkbox'} }) }}
                        {% endfor %}
                </div>
                
                <div class="col-md-8 form-group">
                    {% for image in form.images %}
                        {{ form_label(image.file, 'Image', {'label_attr': {'class': ''} }) }}
                        {{ form_errors(image.file) }}
                        {{ form_widget(image.file, {'attr': {'class': ''} }) }}
                    {% endfor %}
                </div>
                
                <div class="col-md-5 form-group">
                    {{ form_label(form.user, 'User', {'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.user) }}
                    {{ form_widget(form.user, {'attr': {'class': 'form-control', 'rows':'10'} }) }}
                </div>
                
                <div class="col-md-12 form-group">
                    <button type="submit" class="btn btn-primary">Register a new product</button>
                </div>
                
                {{ form_rest(form) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
    
{% endblock %}