{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="header-page col-md-12">
                <h1 class="pull-left">{{ product.name }}</h1>

                <a href="{{ path('product_index') }}" class="btn btn-primary pull-right" role="button">Back to products list</a>

                {% if app.user.id == product.getUser().id or is_granted('ROLE_ADMIN') %}
                  <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-primary pull-right" role="button">Edit</a>

                  {{ form_start(delete_form) }}
                      <input class="btn btn-primary pull-right" type="submit" value="Delete">
                  {{ form_end(delete_form) }}
                {% endif %}

            </div>
        </div>
        <div class="product">
            <div class="row">
                <div class="col-md-4">
                    {% if product.images|length > 0 %}
                        <div id="carousel-img" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {% for image in product.images %}
                                    <div class="item">
                                        <img src="{{ asset('uploads/' ~ image.path) }}" >
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-img" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-img" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                            </a>
                        </div>
                    {% else %}
                        <h3>No image available for this produt</h3>
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <p><strong>Owner: </strong>{{ product.user }}</p>
                    <p class="product-description"><strong>Description: </strong>{{ product.description }}</p>
                    <p><strong>Available: </strong>{% if product.available %}Yes{% else %}No{% endif %}</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
