{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="header-page col-md-12">
                <h1 class=" pull-left">Registered users</h1>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_new') }}" class="btn btn-primary pull-right" role="button">Register new User</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for user in users %}
                <div class="col-md-4">
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            <h3>{{ user.name | capitalize}}</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
                            <li class="list-group-item"><b>Products:</b> {{ user.products|length }}</li>
                        </ul>
                        <div class="panel-footer">
                            <div class="btn-group" role="group">
                                
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and user.id == app.user.id %}
                                    <a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}">Edit User</a>
                                    {% if is_granted('ROLE_ADMIN')%}
                                        <a class="userId btn btn-primary" href="{{ path('make_admin', { 'id': user.id }) }}" type="button">Make Admin</a>
                                    {% endif %}
                                {% endif %}
                                <a class="btn btn-primary" href="{{ path('user_show', { 'id': user.id }) }}">See profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--
    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Make Admin</h4>
              </div>
              <div class="modal-body">
                   Are you sure you want to make this user administrator?
               </div>
               <div class="modal-footer" id="adminModalFooter">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button id="adminButton" type="button" class="btn btn-primary">Confirm</button>
               </div>
           </div>
       </div>
   </div> -->

{% endblock %}
