{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left">Become a member</h1>
                <a href="{{ path('homepage') }}" class="btn btn-primary pull-right" role="button">Back to products list</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="form-user col-md-6">

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Register a new user</button>
                    </div>
                </div>

            {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
