{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left">User view</h1>
                <a href="{{ path('user_index') }}" class="btn btn-primary pull-right" role="button">Back to user list</a>
                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary pull-right" role="button">Edit</a>

                {{ form_start(delete_form) }}
                    <input class="btn btn-primary pull-right" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="row">
            <!-- PRODUCT ITEM -->
            <div class="col-md-3">
                <div class="panel price panel-grey">
                    <div class="panel-heading arrow_box text-center">
                        <h3>{{ user.name }}</h3>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-success"></i> {{ user.name }}</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> {{ user.surname }}</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> {{ user.email }}</li>
                    </ul>
                </div>
            </div>
            <!-- /PRODUCT ITEM -->

        </div>
    </div>
{% endblock %}
